* {
    box-sizing: border-box;
}

.dark{
    background-color: #1c1b1b;
}

body {
    background-color: #F5F5F5;
    font-family: 'Karla', sans-serif;
    margin-top: auto;
    padding-top: 12vh; /* Decides how much space to put between the top of the screen and main. Super useful styling -- vh is view height, a unit of measurement useful for consistency across devices */
}

main{
    padding:10px;
    margin: 20px auto;
    width: 50%;
    height: 650px;
    max-width: 800px;
    min-width: 400px;  /* this is a really good fix for the problem i was having for rendering on mobile devices. */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color:#293264
}

.startButton, .endGame > button ,.SettingsButton > button, .Settings > button, .showAnswers > button{
    margin: 25px auto;
    display: block;
    background: #4D5B9E;
    width:200px;
    height:52px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

button:active{
    box-shadow: inset 10px 10px 10px -3px rgba(0, 0, 0, 0.7);
}

.questionScreen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110px;
}

.questions >h1{
    font-size: 19px;
}
.questionButtons >button{
    background-color: #F5F5F5;
    width: 180px;
    min-height: 50px;
    border-radius: 10px;
    display:inline-block;
    margin-right: 10px;
}

.questionButtons >button:hover{
    background-color: #ece932;
    color:white;
}

.dynamicAnswerButton{
    padding:10px;
    margin: 10px auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    color:white;
}

.difficultyButton{
    margin-right: 20px;
    width:150px;
    height:40px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    gap:20px
}
